@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");

body{
    width: 100vw;
    /* height: 100vh; */
    padding: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
.list{
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    /* overflow: scroll;
    padding: 10px;    */
    /* margin: 0 auto; */
}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}
.title span{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
}
.title a{
    padding: 10px 10px;
    text-decoration: none;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color:#1C608C ;
    color: white;
    box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.651);
    transition: 0.1s ease-in;
}
.title a:hover{
    cursor: pointer;
    transform: scale(1.2 , 1);
}
table,td,th{
    padding: 8px 8px;
    width: 70vw;
}
table{
    border-collapse: collapse;
    display: flex;
    /* justify-content: center; */
    border-radius: 15px 15px 0px 0px;
    text-align: center;
    align-items: center;
    box-shadow: 1px 1px 10px #1C608C ;
    /* border: none; */
    /* background-color:#1C608C ; */
    
}
table tr:nth-child(even){
    background-color: #D3D3D3;
    border-top: 2px solid #1C608C;
    border-bottom: 2px solid #1C608C;
}